<%= render 'shared/navbar' %>
<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="col-md-5 link-card">
      <h2>Blogs</h2>
      <% @blogs.first(5).each do |blog| %>
        <%= link_to "#{blog.title}", blog.url, target: :_blank %>
        <div class="published"><%= blog.published.strftime("%m/%d/%Y") %> | <%= blog.author %></div>
          <br>
      <% end %>
    </div>

    <div class="col-md-5 link-card">
      <h2>Papers</h2>
      <% @papers.first(5).each do |paper| %>
        <%= link_to "#{paper.title}", paper.url, target: :_blank %>
        <div class="published"><%= paper.published %> | <%= paper.author %></div>
          <br>
      <% end %>
    </div>

    <div class="col-md-5 link-card">
      <h2>Podcasts</h2>
      <% @podcasts.first(5).each do |podcast| %>
        <%= link_to "#{podcast.title}", podcast.url, target: :_blank %>
        <div class="published"><%= podcast.published.strftime("%m/%d/%Y")%> | <%= podcast.author %></div>
          <br>
      <% end %>
  </div>
    <div class="col-md-5 link-card">
      <h2>Quant</h2>
      <% @quants.first(5).each do |quant| %>
        <%= link_to "#{quant.title}", quant.url, target: :_blank %>
        <div class="published"><%= quant.published.strftime("%m/%d/%Y") %> | <%= quant.author %> </div>
          <br>
      <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
